.col-12.justify-content-center  
    .ticker
        .title
          h5 Status Response
        |  
        .news
          marquee.news-content
            p
              b Harapan: 
              | Cahaya kecil di kegelapan yang mampu menuntunmu melewati badai terbesar.
            |
            p
              b Ketabahan: 
              | Kekuatan hati yang membuatmu tetap berdiri meski dunia mencoba menjatuhkan.
            |
            p
              b Mimpi: 
              | Bintang yang membimbingmu untuk terus maju walau jalan terasa suram.
            |
            p
              b Keberanian: 
              | Langkah pertama menuju kebebasan dari segala ketakutanmu.
            |
            p
              b Syukur: 
              | Kunci untuk menemukan kebahagiaan bahkan dalam hal-hal yang sederhana.
            |